
:root {
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --success-color: #198754;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --dark-color: #212529;
    --light-color: #f8f9fa;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}


.navbar {
    background-color: var(--primary-color);
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #ffc107 !important; 
}

/* Hero Section */
.hero-section {
    background: linear-gradient(135deg, #dc3545 0%, #dc3545 100%);
    padding: 100px 0;
}

.hero-section h1 {
    font-size: 2.5rem; 
    transition: none; 
}

.hero-section p {
    font-size: 1.25rem; 
}


.card {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
}


.icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(13, 110, 253, 0.1);
}

.bg-primary {
    background-color: #dc3545 !important; 
}
.text-primary {
    color: #dc3545 !important; 
}
.btn-primary {
    background-color: #dc3545; 
    border-color: #dc3545; 
}
.btn-outline-primary {
    color: #dc3545; 
    border-color: #dc3545; 
}

h2.display-5 {
    color: var(--danger-colorr);
}


.alert {
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: var(--dark-color);
    color: white;
}

footer a {
    color: var(--light-color) !important; 
}

footer a:hover {
    text-decoration: underline !important;
}


@media (max-width: 768px) {
    .hero-section {
        padding: 60px 0;
    }
    
    .hero-section h1 {
        font-size: 2rem; 
    }
}

#cursos .card-img-top {
    height: 150px;
    object-fit: cover;
  }
  
